* {
  box-sizing: border-box; }

body {
  background-image: url(../images/site-background.jpg);
  background-position: center;
  background-size: cover;
  background-color: gray;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  height: 100vh; }
  body .container {
    /* Style the links inside the sidebar */ }
    body .container nav {
      margin-left: 29%;
      margin-top: 5%;
      /* The container <div> - needed to position the dropdown content */
      /* Dropdown Content (Hidden by Default) */
      /* Links inside the dropdown */
      /* Change color of dropdown links on hover */
      /* Show the dropdown menu on hover */ }
      body .container nav .selected {
        color: #FF4C33; }
      body .container nav a {
        text-decoration: none;
        color: #FFFF;
        margin-left: 5%;
        font-size: 125%;
        text-transform: uppercase; }
        body .container nav a:hover {
          background-color: rgba(0, 0, 0, 0.5); }
      body .container nav .catergory-dropdown {
        position: relative;
        display: inline-block;
        margin-left: 3%; }
      body .container nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        min-width: 156.25%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5; }
      body .container nav .dropdown-content a {
        color: #FFFF;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
      body .container nav .dropdown-content a:hover {
        background-color: #FF4C33; }
      body .container nav .catergory-dropdown:hover .dropdown-content {
        display: block; }
    body .container .sub-message {
      position: absolute;
      top: 30%;
      margin-left: 22%; }
      body .container .sub-message p {
        font-size: 1.2em;
        font-weight: bold; }
    body .container #sidebar {
      position: absolute;
      top: 37%;
      left: 0%; }
      body .container #sidebar a {
        position: absolute;
        left: -80px;
        transition: 0.3s;
        padding: 15px;
        width: 100px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0; }
        body .container #sidebar a:hover {
          left: 0; }
      body .container #sidebar #Blog {
        top: 20px;
        background-color: rgba(255, 76, 51, 0.5); }
      body .container #sidebar #Gear {
        top: 80px;
        background-color: rgba(255, 76, 51, 0.5); }
      body .container #sidebar #Videos {
        top: 140px;
        background-color: rgba(255, 76, 51, 0.5); }
      body .container #sidebar #What_to_do {
        top: 200px;
        background-color: rgba(255, 76, 51, 0.5); }
    body .container .contact-form {
      position: absolute;
      top: 50%;
      margin-left: 37%;
      transform: scale(1.6);
      background-color: rgba(255, 76, 51, 0.5);
      border-radius: 3%;
      padding: 2%; }
      body .container .contact-form .space {
        padding: 5px; }
      body .container .contact-form .boxspace {
        padding: 2px;
        width: 325px; }
      body .container .contact-form .messagebox {
        padding-bottom: 60px; }
    body .container #submit-button {
      margin-left: 1%;
      background-color: rgba(75, 159, 185, 0.8);
      border: none;
      color: #FFFF; }
      body .container #submit-button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
    body .container footer {
      position: absolute;
      bottom: -10%;
      left: 44%; }
      body .container footer p {
        color: #FFFF; }

/*# sourceMappingURL=styleContact.css.map */
