
@import "partials/variables",
        "partials/mixins",
        "partials/size-functions",
        "partials/color-functions";

* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/site-background.jpg);
  @include background;
  height: 100vh;

    .container {

      nav {
        margin-left: 29%;
        margin-top: 5%;

        a {
          text-decoration: none;
          color: $textColor;
          margin-left: 5%;
          font-size: px-to-pc(20);
          text-transform: uppercase;

           &:hover {
             background-color: $overlay;
           }
        }

        /* The container <div> - needed to position the dropdown content */
        .catergory-dropdown {
            position: relative;
            display: inline-block;
            margin-left: 3%;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $overlay;
            min-width: px-to-pc(25);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 5;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: $textColor;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
          background-color: $logoColor;
        }

        /* Show the dropdown menu on hover */
        .catergory-dropdown:hover .dropdown-content {
            display: block;
        }

      }
/////////////////////////////////home page styling starts here//////////////////////////////////////////
      header {
         .logo {
           .access-point {
             @include logo-header;
           }
         }

         h1 {
           position: absolute;
           top: 26%;
           left: 41%;
           z-index: 2;
           color: #222;
           text-shadow: 0px 2px 3px #555;
         }

         p {
           position: absolute;
           top: 37%;
           left: 45.5%;
           z-index: 2;
         }
      }

      .content {
        position: absolute;
        left: 35%;

        .homepage_gallery {
          display: grid;
          grid-template-columns: repeat(4, 25%);
          grid-auto-rows: 20%;
          grid-gap: 1%;
          align-items: center;
          margin-top: 30%;
          margin-left: -27%;
          position: relative;
          left: -14%;
        }

        .homepage_gallery>img {
          box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
          max-width: 100%;
        }

        .frame {
            position: relative;
            width: 100%;
        }
          #camping, #fishing, #hiking, #rock-climbing {
            display: block;
            width: 100%;
            height: auto;
          }

          .overlay-hover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: $logoColor;
          }

          .frame:hover .overlay-hover {
            opacity: 1;
          }

          .overlay-text {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
          }

          .catergory-information {
            display: grid;
            grid-template-columns: repeat(4,100%);
            margin-top: 10%;
            margin-bottom: 5%;

            a {
              color: $logoColor;
              text-decoration: none;

               &:hover {
                 background-color: $overlay;
                 color: $textColor;
               }
            }

            .camping-information {
              grid-column: 1/2;
            }

            .fishing-information {
              grid-column: 2/3;
              margin-left: 4%;
            }

            .hiking-information {
              grid-column: 3/4;
              margin-left: 8%;
            }

            .rockclimbing-information {
              grid-column: 4/5;
              margin-left: 12%;
              width: 100%;
            }

            /* Popup box BEGIN */
            .pop_out {
              @include pop-out-feature;
            }
            .pop_out .helper{
              @include pop-out-helper;
            }
            .pop_out>div {
              @include pop-out-div;
            }
            .closebutton {
              @include closebutton;

              &:hover {
                background-color: #ccc;
              }
            }
            .pop_outtrigger {
                cursor: pointer;
            }
            /* Popup box BEGIN */

            /* Popup box1 BEGIN */
            .pop_out1 {
              @include pop-out-feature;
            }
            .pop_out1 .helper{
              @include pop-out-helper;
            }
            .pop_out1>div {
              @include pop-out-div;
            }
            .closebutton1 {
              @include closebutton;

              &:hover {
                background-color: #ccc;
              }
            }
            .pop_outtrigger1 {
                cursor: pointer;
            }
            /* Popup box1 END */

            /* Popup box2 BEGIN */
            .pop_out2 {
              @include pop-out-feature;
            }
            .pop_out2 .helper{
              @include pop-out-helper;
            }
            .pop_out2>div {
              @include pop-out-div;
            }
            .closebutton2 {
              @include closebutton;

              &:hover {
                background-color: #ccc;
              }
            }
            .pop_outtrigger2 {
                cursor: pointer;
            }
            /* Popup box2 END*/

            /* Popup box3 BEGIN */
            .pop_out3 {
              @include pop-out-feature;
            }
            .pop_out3 .helper{
              @include pop-out-helper;
            }
            .pop_out3>div {
              @include pop-out-div;
            }
            .closebutton3 {
              @include closebutton;

              &:hover {
                background-color: #ccc;
              }
            }
            .pop_outtrigger3 {
                cursor: pointer;
            }
            /* Popup box3 END */

          }
///////////////////////////////////home page styling ends here////////////////////////////////////

      }
        footer {
          @include footer;
          p{
            color: $textColor;
          }
        }
    }
}
