
@import "partials/variables",
        "partials/mixins",
        "partials/size-functions",
        "partials/color-functions";

* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/site-background.jpg);
  @include background;
  height: 100vh;

    .container {

      nav {
        margin-left: 29%;
        margin-top: 5%;

        .selected {
          color: $logoColor;
        }

        a {
          text-decoration: none;
          color: $textColor;
          margin-left: 5%;
          font-size: px-to-pc(20);
          text-transform: uppercase;

           &:hover {
             background-color: $overlay;
           }


        }

        /* The container <div> - needed to position the dropdown content */
        .catergory-dropdown {
            position: relative;
            display: inline-block;
            margin-left: 3%;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: $overlay;
            min-width: px-to-pc(25);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 5;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: $textColor;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
          background-color: $logoColor;
        }

        /* Show the dropdown menu on hover */
        .catergory-dropdown:hover .dropdown-content {
            display: block;
        }

      }
/////////////////////////////////Contact content styling starts here//////////////////////////////////////////
  .sub-message {
    position: absolute;
    top: 30%;
    margin-left: 22%;
     p {
       font-size: 1.2em;
       font-weight: bold;
     }
  }

  /* Style the links inside the sidebar */
  #sidebar {
    position: absolute;
    top: 37%;
    left: 0%;

      a {
          position: absolute;
          left: -80px;
          transition: 0.3s;
          padding: 15px;
          width: 100px;
          text-decoration: none;
          font-size: 20px;
          color: white;
          border-radius: 0 5px 5px 0;

            &:hover {
              left: 0;
            }
      }

      #Blog {
          top: 20px;
          background-color: $imageOverlay;
      }

      #Gear {
          top: 80px;
          background-color: $imageOverlay;
      }

      #Videos {
          top: 140px;
          background-color: $imageOverlay;
      }

      #What_to_do {
          top: 200px;
          background-color: $imageOverlay;
      }
    }

    .contact-form {
      position: absolute;
      top: 50%;
      margin-left: 37%;
      transform: scale(1.6);
      background-color: $imageOverlay;
      border-radius: 3%;
      padding: 2%;

        .space {
          padding: 5px;
        }

        .boxspace {
          padding: 2px;
          width: 325px;
        }

        .messagebox {
          padding-bottom: 60px;
        }
    }

    #submit-button {
      margin-left: 1%;
      background-color: rgba(#4B9FB9, 0.8);
      border: none;
      color: $textColor;

      &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    }
  ///////////////////////////////////Contact content styling ends here////////////////////////////////////
  footer {
    @include footer-version3;
    p{
      color: $textColor;
    }
  }
}
}
