* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/site-background.jpg);
  @include background;
  height: 100vh;

    .container {

      @keyframes rotation {
        @include rotation-animation;
      }
       .logo {
         animation-name: rotation;
         animation-duration: 4s;
         animation-delay: 3s;
         animation-iteration-count: infinite;

         .access-point {
           @include logo;
         }
       }

       footer {
        @include footer;
       }
   }
}
