@import "partials/variables",
        "partials/color-functions";


/////////////////////////HEADER////////////////////////////////////////

///////////styling for logo///////////////////////////

@mixin logo-header {
  transform: scale(0.5); ///////increases the size of the logo//////
  position: absolute;
  top: -1%;
  left: 33%;
}

/////////////////////////BODY////////////////////////////////////////

////////////styling for webpage background///////////
@mixin background {
  background-position: center;
  background-size:  cover; //////image covers entire page////
  background-color: gray;
  background-blend-mode: screen; //////fades background-color into background-image//////
  background-repeat: no-repeat;
}

/////////////styling for pop-out feature and image overlay on homepage/////////////////
@mixin hover-overlay {
  position: relative;
  width: 100%;
}

@mixin pop-out-feature {
  cursor:pointer;
  display:none;///////hides the pop-out until clicked///////
  height:100%;
  position:absolute;
  text-align:center;
  font-size: 120%;
  font-weight: bold;
  line-height: 120%;
  top:0;
  width:100%;
  z-index:10; ///////displays and layers the pop-out above everything else - puts it on top"
}

@mixin pop-out-div {
  background-color: rgba(#fff, 0.8); /////////create an opacified white////////
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 60%;
  width: 60%;
  position: absolute;
  bottom: 20%;
  right: 19%;
  border-radius: 2%;
  padding: 2% 5%;
}

@mixin closebutton { //////////styles the closing button - marked "X"////////////
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

/////////////////styling for gallery-grid on gallery page///////////////////////
@mixin gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1%;
}

@mixin image-coverage {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  align-items: stretch;
   &:hover {
     transform: scale(2);////////enlarges the image by 2/////////
     z-index: 5;
   }
}

/////////////////////////FOOTER////////////////////////////////////////

////////////styling for footer - homepage///////////
@mixin footer {/////sets the exact position//////
  position: absolute;
  bottom: -30%;
  left: 14%;
}

///////////////styling for footer - gallery page/////////
@mixin footer-version2 {/////sets the exact position//////
  position: absolute;
  bottom: -43%;
  left: 44%;
}

/////////////styling for footer - contact page//////////
@mixin footer-version3 {/////sets the exact position//////
  position: absolute;
  bottom: -10%;
  left: 44%;
}
