@import "partials/variables",
        "partials/color-functions";

// styling for site-background
@mixin background {
  background-position: center;
  background-size:  cover;
  background-color: gray;
  background-blend-mode: screen;
  background-repeat: no-repeat;
}

// styling for logo
@mixin logo{
  transform: scale(1.4);
  position: relative;
  left: 35%;
}

@mixin logo-header {
  transform: scale(0.5);
  position: absolute;
  top: -1%;
  left: 33%;
}

// styling for footer
@mixin footer {
  position: fixed;
  bottom: 2%;
  left: 45%;
  color: $textColor;
}

// rotation animation
@mixin rotation-animation {
  0%{transform: rotateY(0deg);}
  25% {transform: rotateY(90deg);}
  50% {transform: rotateY(180deg);}
  75% {transform: rotateY(270deg);}
  100% {transform: rotateY(360deg);}
}

@mixin hover-overlay {
  .frame {
  position: relative;
  width: 50%;
}

#camping {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.frame:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
}
