$textColor: #FFFF; //////color:white/////

$logoColor: #FF4C33; ///////color: a burned orange//////

$overlay: rgba(black, 0.5); ///////opacified black///////

$imageOverlay: rgba(#FF4C33, 0.5); /////////opacified orange////////
